<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
<meta charset="utf-8" >
<!--utf a unicode system only eg unicode- giving 4bytes to int in java -->

<title>{%block title%}SavouringCreativity{%endblock%}</title>
<!--below 2 are the bootstrap references -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<!--imports lobster font from google fonts-->
<link  rel="stylesheet" type="text/css"  href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext">  
<link  rel="stylesheet" type="text/css"  href="//fonts.googleapis.com/css?family=Satisfy">  

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!--CSS link has to come at the end-->
<link rel="stylesheet" href="{% static 'css/blog.css' %}">  



<script>
function allowDrop(ev) {
ev.preventDefault();
}
function drag(ev) {
ev.dataTransfer.setData("text", ev.target.id);
}
function drop(ev) {
ev.preventDefault();
var data = ev.dataTransfer.getData("text");
ev.target.appendChild(document.getElementById(data));
}
</script>



<!alert box>
<script type="text/javascript">  //anonymous func
function msg()
{ document.getElementById('show').onclick=alert('please check the details carefully.');}
</script>
</head> 
<!__Nav bar__>


{%comment%}
<body data-spy="scroll" data-target="#myScrollspy" data-offset="20" >
<ul class= "nav navbar-nav"  class="nav nav-pills nav-stacked">   so that tabs come in pill forms
{%endcomment%}



<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.7";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

{%comment%}

https://developers.facebook.com/docs/plugins/comments
for a particular design of navigation bar
inverse, primary , info , default - 4 conceptual color classes available for navigation bar

{%endcomment%}


<nav class="navbar navbar-light "  id="myScrollspy">
<div class="container-fluid">
<div class="navbar-header"> 

<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">

<span class="icon-bar"></span> <!__for those 3 bars__>
<span class="icon-bar"></span>
<span class="icon-bar"></span>

</button>                                                                         




</div>





<div class="collapse navbar-collapse" id="topNavBar">
<ul class= "nav navbar-nav">

<li  class="">
<a href ="{%url 'post_list' %} ">
<font size="5" ><span class="glyphicon glyphicon-home" aria-hidden="true">Home</span></font>&nbsp;

</a>   </li>


<li  class="">
<a href ="{%url 'post_detail' pk=4 %} ">
<font size="5" ><span class="glyphicon glyphicon-hand-o-right" aria-hidden="true">About</span></font>&nbsp;

</a>   </li>





<li >

<span class="glyphicon glyphicon-" aria-hidden="true">

 <div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" 
  style="font-family:serif; font-size: 22px;">
  Categories
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="{% url 'filtered_post_list' name=category.category_type num=3 %}" 
    style="font-family:fantasy; font-size: 22px;color: brown;">
    Poems</a></li>

    <li><a href="{% url 'filtered_post_list' name=category.category_type num=2 %}"  
     style="font-family:fantasy; font-size: 22px;color: brown;">
    Articles</a></li>
    <li><a href="{% url 'filtered_post_list' name=category.category_type num=1 %}"  
     style="font-family:fantasy; font-size: 22px;color: brown;">
    Reviews</a></li>
  </ul>
</div> 
</span>&nbsp;

</li>

</ul>














<form class="navbar-form navbar-left" role="search" method="GET" action=" " >
<div class="form-group">
<input type="text" class="form-control" name="q" placeholder="Articles Poems Reviews" value="{{request.GET.q}}"/>  </div>

<button type="submit" class="btn btn-primary" style="font-family:serif; font-size: 15px;"><span class="glyphicon glyphicon-search" >Search</span></button>
</form>

<ul class="nav navbar-nav navbar-right"   > <!__ nav navbar-nav navbar-right__>





{%if user.is_authenticated%}
<ul class= "nav navbar-nav">
<li  class="nav navbar-nav navbar-left">
<a href = "{% url 'post_new'%}">
<span class="glyphicon glyphicon-plus" aria-hidden="true"><font size="5" >Addpost</font></span>&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</a>
</li>



<li  class="nav navbar-nav navbar-left">
<a href = "{% url 'post_draft_list'%}">
<span class="glyphicon glyphicon-" aria-hidden="true"><font size="5" >Drafts</font></span>&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</a>
</li>



<li  class="nav navbar-nav navbar-right">
<a href = "{% url 'logout_view' %}">
<span class="glyphicon glyphicon-off" aria-hidden="true"><font size="5" >Logout</font></span>&nbsp;
&nbsp;&nbsp;&nbsp;
</a>
</li>

</ul>
{%endif%}
<!--if we use ul class navnavbar nav and then insert urls n li tag , create button when we go to that link.  dont use div, use ul and li tags-->




{%if not user.is_authenticated%}

<ul class= "nav navbar-nav">

<li  class="nav navbar-nav navbar-right">
<a href = "{% url 'register' %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<font size="5" ><span class="glyphicon glyphicon-check" aria-hidden="true">Signup</span></font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</a>
</li>


<li class="nav navbar-nav navbar-">
<a href = "{% url 'login_user' %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<font size="5" ><span class="glyphicon glyphicon" aria-hidden="true">Login</span></font>

</a>
</li>


</ul>
{%endif%}





</nav>
</div>
</div>








</a>   </li>



{%block part%}  <!__for post_list __>

<div class="content container">
<div class="row">
<div class="col-md-8">
{% block content %}  <!__for post_detail , post_edit __>
{% endblock %}
</div>
</div>
</div>


</body>
</html>

{%endblock%}







<!--
{%block body%}  
{%endblock%}-->

{% block register %}  <!__for registration form__>
{% endblock %}


{% block login %}  <!__for login.html __>
{% endblock %}



{%block content2%}
{%endblock%}

{%block content4%}   <!__for category_list__>
{%endblock%}




{%comment%}

<a href ="{%url 'category_list' %} "></a>

<li  class="">
<a href="{% url 'filtered_post_list' name=category.category_type num=3 %}"><span class="glyphicon glyphicon-star" aria-hidden="true">Poetry</span></a>
</a>   </li>

<li  class="">
<a href="{% url 'filtered_post_list' name=category.category_type num=2 %}"><span class="glyphicon glyphicon-certificate" aria-hidden="true">Articles</span></a>
</a>   </li>

<li  class="">
<a href="{% url 'filtered_post_list' name=category.category_type num=1 %}"><span class="glyphicon glyphicon-book" aria-hidden="true">Reviews</span></a>
</a>   </li>

{%endcomment%}